body{
  background-color: azure;
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 90%;
  margin: 1rem;
 

}
.createpost{
  border: 1px solid black;
  width: 60%;
  height: 50%;
  
  margin: 10%;
  padding-left: 5rem;
}
input[type='file']{
  display: none;
}
#ibtn{
  border:1px solid rgb(124, 123, 123);
  width: 20%;
  border-radius: 5px;
}
#ibtn >label{
  font-size: large;
  /* border:1px solid rgb(124, 123, 123); */
  /* width: 20px; */
  border-radius: 5px;
}
#post-btn{
  width:10rem;
  margin: 0.5rem;
  font-size: larger;
}