
body{
    background-color: rgb(241, 243, 242);

}.landing-container{
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.image-container{
    
    width:45%;
    
}
.image-container img{
    width:95%;
    height: 50vh;
    border-radius: 10px;
}
.btn{
    color: white;
    background-color: rgb(197, 28, 28);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}
.text h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(27, 2, 43);
}