.site-container{
  margin:auto;
  width: 60%;
}
.header-wrapper{

  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:auto;
  margin-top: 10px;
  
  padding: 20px;
  border-bottom: 1px solid rgb(34, 34, 33);
  padding: 0;
}
.insta{
  width:50%;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
}
.insta img{
  align-self: flex-end;
}
.camera{
  width:50%;
  height: 100%;
  padding-left: 200px;
  padding-top: 50px;
}
.btns img{
 width: 20px;
  height: 20px;
  padding: 5px;
}
